@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/homepage.css" />
</head>
<body>
    <div class="login-card">
        <h2>KeyAcess</h2>
        <h3>Escolha uma Opção</h3>
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Apartamentos" asp-action="Index">Apartamentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Residentes" asp-action="Index">Residentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Visitantes" asp-action="Index">Visitantes</a>
            </li>
        </ul>
    </div>
</body>
</html>